@import url("./base.css");

:root {
    --primary-white: #ffffff;
    --secondary-white: #f8f8f8;
    --vue-green-01: #42b883;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

html {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--secondary-white);
}

body {
    width: min(80rem, 95%);
    min-height: 100%;
}

main {
    width: 100%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;

    overflow: auto;
}

.app-content {
    width: min(80rem, 95%);

    padding: 2rem;

    border-radius: 0.3rem;
    background-color: var(--primary-white);

    overflow: auto;
}

button {
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 0.3rem;
    &:hover{
        transition: 0.2s ease;
        text-decoration: underline;
    }
}

h1,h2,h3,h4,h5,h6, th {
    text-transform: capitalize;
}